* {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    background-color: #4A7C59;

}
h1 {
    text-align: center;
    background-color: #ffffff;
    font-family: 'Dancing Script', cursive;
    padding: 10px;
    border-radius: 25px;
    width: 250px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #2F1847;
    border: solid 5px #957186;
}

main {
    background-color: #ffffff;
    border-radius: 25px;
    padding: 20px;
    height: 700px;
    width: 250px;
    margin: auto;
    border: solid 5px #957186;
    font-family:'PT Sans', sans-serif ;
}
.button-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'PT Sans', sans-serif;
}
form {
    flex-direction: column;
}

button {
    background-color: #957186;
    color: #ffffff;
}
.add-bookmark{
    font-family: 'PT Sans', sans-serif;
    margin: 10px;
    background-color: #957186;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    color: #ffffff;
}

.delete-button, .edit-button{
    border-radius: 10px;
    padding: 5px;
    margin: 0px 5px 0px 0px;
}

.delete-button{
    margin-left: 15px;
}
#filter-drop{
    font-family: 'PT Sans', sans-serif;
    width: 100px;
    height: 50px;
    margin:10px;
    background-color: #957186;
    border-radius: 10px;
    color: #ffffff;
    padding: 0px 20px 0px 20px;
    box-shadow: 6px;
}
#js-bookmark-submit {
    font-family: 'PT Sans', sans-serif;
    margin: 10px;
    background-color: #957186;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    color: #ffffff;
}

.js-cancel-button, .js-cancel-edit-button{
    font-family: 'PT Sans', sans-serif;
    margin: 10px;
    background-color: #957186;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    color: #ffffff;
}
.js-bookmark-element button{
    width: 200px;
    margin-left: -38px;
    background-color: #957186;
    color: #ffffff;
    font-family:'PT Sans', sans-serif ;
    text-align: left;
    border-radius: 10px;
}
.welcome-message {
    flex-direction: column;
    text-align: center;
    color: #2F1847;
}
.description {
    background-color: lightgrey;
    height: 100px;
    width: 200px;
    margin: -15px 0px 10px -38px;
    padding: 10px;
    border-radius: 10px;
}

.description a {
    text-decoration: none;
    background-color: #2F1847;
    color: #ffffff;
    padding: 8px;
    margin: 10px;
    border-radius: 10px;
}

.description a:hover{
    background-color: #55917F;
}

.description a:visited{
    background-color: #55917F;
}

main li {
    list-style: none;
}

.hidden {
    display: none;

}
.error-container {
    background-color: #ffffff;
    color: #55917F;
    border-radius: 10px;
    font-family: 'PT Sans', sans-serif;
    padding: 10px;
    margin: 5px;
}
@media all and (min-width: 600px) {
    main {
        background-color: #ffffff;
        border-radius: 25px;
        padding: 20px;
        height: 80%;
        width: 70%;
        margin: auto;
        border: solid 5px #957186;
        font-family:'PT Sans', sans-serif ;
    }

    form {
        text-align: center;
    }

    textarea {
      width: 50%;  
      height: 100px;
    }

    .js-bookmark-element button {
        width: 70%;
        margin-left: 10%;
    }

    .description {
        width: 70%;
        margin-left: 10%;
    }

    .delete-button{
        margin-left: 40%;
    }
        
}